/node_modules
/public/image
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/public/uploads/
/vendor/


.idea/
.vscode/
.phpintel
.phpintel/
nbproject/

storage/
